footer#footer.light.narrow
				.footer-copyright
					.container-fluid
						.row
							.col-md-12.center
								p
									strong.text-uppercase Matt Fry
									|  - © Copyright 2018 - All Rights Reserved
									|  - Site Created by #[a(href="http://jjfrygraphicarts.com" target="_blank") JJ Fry]
